RECIPE_API_PROVIDER=mock
RECIPE_API_KEY=
RECIPE_API_BASE_URL=
PRICE_PROVIDER_MODE=mock
COLES_API_KEY=
WOOLWORTHS_API_KEY=
THIRD_PARTY_GROCERY_API_KEY=

MONGODB_URI=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
